ALIVE_PIC = "https://telegra.ph/file/9bf1314682317f960cca6.jpg"
API_ID = "8925411"
API_HASH = "a419f7a625bc36bf00413a55879121f9"
STRING = "1AZWarzMBu4KWJlpeDDo54YSNbQd7MqC7PwsEavnvyWQE0WN3KniYgN7AfNMbLur7EjDo43WX71yL8cTinFHXX3lJ16wJHjTlxdHd166Jrbaez3xPh8Nn_urJ306sJPgXX6hAYStlhpgYWEFBYNgePTQ6a19mYroebR-J7INQ73DF6UDGz8xOBJXf2Yozzy8qtpkO2QDvw4Rw6dMjaolayjjH2YhPXJYr2aKtqfZ3Nzdp7RB_FaLYZe6tjOhfMRDyF29vRGPTHGP5AbzSCmK0NCOk1tYubad6gqxXOi2uKSWobMMKVpGvRzzVGAyIuhIFElSFNpjNNI3gHbmnB0hu2_ogs6x8ZL4="
STRING2 = "1AZWarzMBuyk5IKUFP5O7A18L3-pJ3rwQ38ybz-OnC09yp7A6oiy4_XpX-qQJSKJ7j3Cma3yREUX1QzJwqnX_US0ielaS0sIE8sHdmPCVCSD8gPLgiL6AXDdKPJVtRopw7AgJU1fWm7ilC4m_xPRyuX8VMA_kgAYIx4Pbrg8u6mvHaq3i0aKEZ1P67fFAxeiAEC32NTw5biiIGH5pwhQNtih3oyymz5lfdueglaWgxrRwq0SU0wMRYtTBtp5GnhKq_xNUl6kKcU2LZyq6ra4memSJg0hHTyzImMA4zc_0XR60Cx1P3EZdRxrc4R_l6kZSdteHdocZZIOwBuBgXOiKTO3-QgXyQp4="
STRING3 = "1AZWarzMBu1vPh4dCTzr9I3JSF1YRGC0fLQ6NZbcQytnB-KArap73O3HJDMEgi59cUha05cnSXCnxRE2ODBhIQH_2-daIsBqAe1l71Y7Q1xg-pwdt9JaOug5isar7HzXGua7RcztKYpvdlh2C-ASkqoMwr1wmtKfo127AQMWQ3cRhClnZodN-gOagldvbF9ka-euVA3RsLsTUuer-2u7H90E2JMLJo4aF4TMd7O4zRmzJCbqaMdtSV3g-_L9XknGsRnkMMYiddtKWbJWaWs4aoqx2gwfskEk03ctx4sIZcvvND5D8VqQl5V5ilg9pgyJWAnXolNhvn76SGkVIyhh55Ptg421kB5U="
STRING4 = "1AZWarzMBu1hLgwmt0SkMHPU8XIxKaRDrVFqbs26ZvfjXASQNRej7DF_1eNsjDRncVj9otKbiZidmR6c3pyvvOqGC3HIHUOEibTN3yUDTCJXtLBoFRVatltSG70ayobZrV7amDzQI4hUJwRQViztmZ3pwZJbZsOH9VsPbLNU2MW0e7ORJy6zQXGz18EAivXTrsk2TnKTJbxvrI2THCl6zciJghHaMC6PkgbBtPp_BhY8lOVXI1boqHspWFZ-pWNf92mhQHGyyqmlD1mAl86wzl06n6x_w_mTZXvZ27nai7PAsVTJ8Jspv7chqSYj3rdQpHYKEHPkKsZSGoKgGCWSl72_RbJEibV4="
STRING5 = "1AZWarzMBu5bgDUUsZ7G6qo1v37Npq68jQispJrm8oqGEjWgOKz8SzscI9T4rfAaJfmiwxIeuJiLzf2JukwSVYAC2QCxeCyHrMX3Zglh_dhGg9Lz0q4dnqaS3DcvN3qTV2zZGh3DHR6tN5UQ-RqdUIJgmHINa6_JoPrt3bZmGbB2BjaTjI07_4jR9V4mCdGrxp6Sd1SilJQ5QJvp4kHPZbyjDo8Le5JF5xP45Pkbrl2iUPzu_zTRvUr0AM4qHVZpslazvAW-47WoxNXOsMR7bWEkoDhjnf6Y1rkEiMeadxpMZ3pUS9Cw4aWzso2Wh906SZepDSSR1cqzFHBxsBLLDJrdyt3nrj2M="
SUDO = "808935956"
